@model IEnumerable<ClassSessionViewModel>

@{
    ViewData["Title"] = "Class Sessions";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
    <tr>
        <th>Course Offering</th>
        <th>Classroom</th>
        <th>Session Start</th>
        <th>Session End</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OfferingDescription</td>
            <td>@item.ClassroomDescription</td>
            <td>@item.SessionStart</td>
            <td>@item.SessionEnd</td>
            <td>
                @if (User.IsInRole("AdministrativeEmployee"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }

                @if (User.IsInRole("Professor"))
                {
                    <a asp-action="MarkAttendance" asp-route-id="@item.Id" class="btn btn-danger">Mark attendances</a>    
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Add New Session</a>