@model IEnumerable<EnrollmentViewModel>

@{
    ViewData["Title"] = "Enrollments";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        @if (User.IsInRole("Professor") || User.IsInRole("AdministrativeEmployee"))
        {
            <th>Student Name</th>
        }
        <th>Course Name</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Points</th>
        <th>Grade</th>
        @if (User.IsInRole("Professor") || User.IsInRole("AdministrativeEmployee"))
        {
            <th>Actions</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Professor") || User.IsInRole("AdministrativeEmployee"))
            {
                <td>@item.StudentName</td>
            }
            <td>@item.CourseName</td>
            <td>@item.Semester</td>
            <td>@item.Year</td>
            <td>@item.Points</td>
            <td>@item.Grade</td>
            <td>
                @if (User.IsInRole("Professor"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Grade</a>
                }

                @if (User.IsInRole("AdministrativeEmployee"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Withdraw</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User.IsInRole("Student"))
{
    <a asp-action="Create" class="btn btn-primary">Enroll in New Course</a>
}